<form method="POST" action="/events">
  <label for="name">Name</label>
  <input type="text" name="name" />

  <label for="description">Description:</label>
  <input id="description" type="text" name="description" />

  <label for="picture">Event Photo / Flyer</label>
  <input type="file" class="form-control-file" name="picture" />

  <label for="year">Year</label>
  <input id="year" type="text" name="year" />

  <input type="submit" />
</form>
