<div
  class="modal modal-signin position-static d-block bg-secondary py-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h2">Please Log In.</h2>
      </div>

      <div class="modal-body p-5 pt-0">
        <form action="/auth/login" method="POST">
          <div class="form-floating mb-3"></div>
          <div class="form-floating mb-3"></div>

          <div class="container">
            <div class="row">
              <label for="auth-email">Email:</label>
            </div>
            <input id="auth-email" type="email" name="email" required />
          </div>
          <div class="container m-t-15">
            <div class="row">
              <label for="auth-password">Password:</label>
            </div>
            <input id="auth-password" type="password" required />
          </div>
          <div class="container">
            <input type="submit" value="Log In" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
