<form action="/auth/signup" method="POST">
  <label for="new-first-name">First Name:</label>
  <input id="new-first-name" type="text" name="new-first-name" required />

  <label for="new-last-name">Last Name:</label>
  <input id="new-last-name" type="text" name="new-last-name" required />

  <label for="new-initials">Initials:</label>
  <input id="new-initials" type="text" name="new-initials" required />

  <label for="new-email">Email</label>
  <input id="new-email" type="email" name="email" required />

  <label for="new-password">Phone Number:</label>
  <input id="new-password" type="password" name="password" />

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password" required />

  <input type="submit" value="Sign up" />
</form>
