<!-- Top Menu / Tool Bar -->

<div class="px-3 py-2 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          my-2
          justify-content-center
          my-md-0
          text-small
        "
      >
        <a href="/" class="nav-link text-white text-decoration-none"
          ><i class="fas fa-gamepad"></i>
        </a>

        <li>
          <a href="/games" class="nav-link px-2 text-white">Games</a>
        </li>
        <li>
          <a href="/beers" class="nav-link px-2 text-white">Beer</a>
        </li>
        <li>
          <a href="/wines" class="nav-link px-2 text-white">Wine</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center">
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
      <input
        type="search"
        class="form-control"
        placeholder="Search..."
        aria-label="Search"
      />
    </form>

    <div class="text-end">
      <% if(!currentUser) { %>

      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Sign Up</a>
      <% } else { %>
      <a href="/auth/logout">Logout</a>
      <a href="/profile">Profile</a>
      <% } %>
    </div>
  </div>
</div>

<!-- End Top Menu-->
