<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="col-lg-12 mx-auto">
    <img
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2FBarricadePoky%2F&psig=AOvVaw3XmBYTmwvxoL9p95GWoVF6&ust=1639457243435000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJirrKr83_QCFQAAAAAdAAAAABAD"
    />
  </div>

  <div class="col-lg-6 mx-auto">
    <embed
      src="https://pacman.js.org/"
      style="width: 500px; height: 800px; align-items: center"
    />
  </div>
</div>
