<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="col-lg-6 mx-auto">
    <embed
      src="https://pacman.js.org/"
      style="width: 500px; height: 800px; align-items: center"
    />
  </div>
</div>
