<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Barricade - Pocatello</title>
    <script
      src="https://kit.fontawesome.com/15181efa86.js"
      crossorigin="anonymous"
    ></script>

    <%- include('partials/bootstrap') %>
    <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/app.css" />
  </head>
  <body>
    <img
      src="/images/barricade_banner.png"
      style="width: 100%; height: 350px"
    />
    <%- include('partials/alerts') %> <%- include('partials/toolbar') %> <%-
    body %>
  </body>
</html>
