<form method="POST" action="/beers">
  <label for="name">Beer Name:</label>
  <input id="beerName" type="text" name="name" />

  <label for="type">Type of beer (Lager, Hefeweisen, Stout...):</label>
  <input id="typeOfBeer" type="text" name="type" />

  <label for="brewery">Brewery Name:</label>
  <input id="brewery" type="text" name="brewery" />

  <label for="pricePerGlass">Price Per Glass:</label>
  <input id="pricePerGlass" type="number" name="pricePerGlass" />
  <label for="pricePerGrowler">Price Per Growler:</label>
  <input id="pricePerGrowler" type="number" name="pricePerGrowler" />
  <input id="costPerKeg" type="number" name="pricePerGrowler" />
  <input id="beerAbv" type="number" name="abv" />
  <input id="beerIbu" type="number" name="ibu" />
  <input id="beerNotes" type="text" name="notes" />
  <input id="beerInStock" type="radial" name="notes" />
  <input type="submit" />
</form>
