<form method="POST" action="/games/high-score">
  <label for="game">Game Name:</label>
  <input type="text" name="game" />

  <label for="highScore">High Score:</label>
  <input type="text" name="highScore" />

  <label for="initials">Initials:</label>
  <input type="text" name="initials" />

  <input type="submit" />
</form>
