<form method="POST" action="/games">
  <label for="name">Game Name:</label>
  <input type="text" name="name" />

  <label for="model">Game Model:</label>
  <input type="text" name="model" />

  <label for="manufacturer">Game Manufacturer:</label>
  <input type="text" name="manufacturer" />

  <label for="serialNumber">Game Notes:</label>
  <input type="text" name="serialNumber" />

  <label for="picture">Game Picture:</label>
  <input type="file" class="form-control-file" name="picture" />

  <label for="highScore">Game High Score:</label>
  <input type="text" name="highScore" />

  <label for="status">Game Status:</label>
  <input type="text" name="status" />

  <input type="submit" />
</form>
