<form method="POST" action="/users/<%= user.id %>/?_method=PUT">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" value="<%= user.firstName %>" />

  <input type="submit" />
</form>
