<form method="POST" action="/users">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" />

  <label for="lastName">Last Name</label>
  <input id="lastName" type="text" name="lastName" />

  <label for="initials">Initials</label>
  <input id="tracks" type="text" name="tracks" />

  <label for="phoneNumber">Phone Number:</label>
  <input id="phoneNumber" type="text" name="phoneNumber" />

  <label for="email"> Email:</label>
  <input id="email" type="text" name="email" />

  <label for="password">Password:</label>
  <input id="password" type="text" name="password" />

  <label for="userLevel">User Level:</label>
  <input id="userLevel" type="text" name="userLevel" />

  <input type="submit" />
</form>
