<form method="POST" action="/beers">
  <label for="name">Beer Name:</label>
  <input id="beerName" type="text" name="name" />

  <label for="type">Type of beer (Lager, Hefeweisen, Stout...):</label>
  <input id="typeOfBeer" type="text" name="type" />

  <label for="brewery">Brewery Name:</label>
  <input id="brewery" type="text" name="brewery" />

  <label for="pricePerGlass">Price Per Glass:</label>
  <input id="pricePerGlass" type="number" name="pricePerGlass" />

  <label for="pricePerGrowler">Price Per Growler:</label>
  <input id="pricePerGrowler" type="number" name="pricePerGrowler" />

  <label for="costPerKeg">Cost Per Keg:</label>
  <input id="costPerKeg" type="number" name="costPerKeg" />

  <label for="beerAbv">Beer ABV:</label>
  <input id="beerAbv" type="number" name="abv" />

  <label for="beerIbu">Beer ABV:</label>
  <input id="beerIbu" type="number" name="ibu" />

  <label for="beerNotes">Notes:</label>
  <input id="beerNotes" type="text" name="notes" />

  <label for="beerInStock">In Stock:</label>
  <input id="beerInStock" type="text" name="beerInStock" />

  <input type="submit" />
</form>
