<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Wines</title>
  </head>
  <body>
    <% for( let index = 0; index < wines.length; index++ ) { %> <% let a =
    wines[index]; %> <% a = a.toJSON() %>
    <p><%= a.name %></p>
    <a href="/wines/<%= a.id %>">View Wines</a>
    <hr />
    <% } %>
  </body>
</html>
