<div
  class="modal modal-signin position-static d-block bg-secondary py-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <div class="container">
          <h1>Enter New Wine</h1>
        </div>
      </div>
      <div class="modal-body p-5 pt-0">
        <form method="POST" action="/wines">
          <div class="container">
            <div class="row">
              <label for="name">Name:</label>
            </div>
            <input type="text" name="name" />
          </div>
          <div class="container">
            <div class="row">
              <label for="type" style="margin-top: 15px">Type:</label>
            </div>
            <input type="text" name="type" />
          </div>
          <div class="container">
            <div class="row">
              <label for="winery" style="margin-top: 15px">Winery:</label>
            </div>
            <input type="text" name="winery" />
          </div>
          <div class="container">
            <div class="row">
              <label for="pricePerGlass" style="margin-top: 15px"
                >Price Per Glass:</label
              >
            </div>
            <input type="text" name="pricePerGlass" />
          </div>
          <div class="container">
            <div class="row">
              <label for="pricePerBottle" style="margin-top: 15px"
                >Price Per Bottle:</label
              >
            </div>
            <input type="text" name="pricePerBottle" />
          </div>
          <div class="container">
            <div class="row">
              <label for="abv" style="margin-top: 15px">ABV%:</label>
            </div>
            <input type="text" name="abv" />
          </div>
          <div class="container">
            <div class="row">
              <label for="ava" style="margin-top: 15px">AVA%:</label>
            </div>
            <input type="text" name="ava" />
          </div>
          <div class="container">
            <div class="row">
              <label for="notes" style="margin-top: 15px">Notes:</label>
            </div>
            <input type="text" name="notes" />
          </div>
          <div class="container">
            <div class="row">
              <label for="status" style="margin-top: 15px">Status:</label>
            </div>
            <input type="text" name="status" />
          </div>
          <div class="container">
            <input type="submit" style="margin-top: 15px" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
