<form method="POST" action="/wines">
  <label for="name">Name</label>
  <input type="text" name="name" />

  <label for="length">Length</label>
  <input id="length" type="text" name="length" />

  <label for="tracks">Tracks</label>
  <input id="tracks" type="text" name="tracks" />

  <label for="year">Year</label>
  <input id="year" type="text" name="year" />

  <input type="submit" />
</form>
